*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    line-height: 5rem;
}

.choice{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.score-bord{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 6rem;
    margin-top: 4rem;
    font-size: 2rem;
}

#user-score, 
#comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}